.home-header {
    display: flex;
    background-color: #0d1421;
    border-bottom: 1.5px solid #323546;
    color: white;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.header-login-btn {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: linear-gradient(135deg, #5247f0 0%, #8b25eb 100%); 
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.5); 
    color: white;
    font-size: 19px;
    height: 40px;
    min-width: 90px;
    padding: 0 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.header-login-btn:hover {
    background: linear-gradient(135deg, #716eff 0%, #bd55fa 100%);
    box-shadow: 0 0 18px rgba(59, 130, 246, 0.7);
    transform: translateY(-1px);
}

/* Log Out 狀態 */
.header-login-btn.logout {
    background: transparent;
    border: 1px solid #ef4444;
    color: #ef4444;
    box-shadow: none;
}

.header-login-btn.logout:hover {
    background-color: rgba(239, 68, 68, 0.1);
}