.ticker-wrapper {
  width: 100%;
  overflow: hidden; /* Hides the scrollbar */
  padding: 10px 0;
  min-height: 140px;
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.ticker-track {
  display: flex;
  width: max-content;
  gap: 16px;
  margin: 16px 0;
  will-change: transform;
  /* The Animation configuration */
  animation: scroll-left 30s linear infinite;
}

.ticker-item {
  width: 200px;
  height: 100px;
  background-color: #222531;
  border-radius: 15px;
}

/* The logic to move the track */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-track:hover {
  animation-play-state: paused;
}
