.portfolio-balance-container {
  width: 100%;
  height: 500px;
}

.reset-btn {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 12px;
}

.portfolio-balance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
